* {
  box-sizing: border-box;
}

body,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* 1000~1200 desktop max-width */
.container {
  max-width: 1200px;
  margin: 0 15px;
}

header {
  border-bottom: 1px solid #ccc;
  padding: 15px 0;
  text-align: center;
  background-color: #41b883;
  color: #eee;
}

input[type='text'] {
  display: block;
  width: 100%;
  margin: 15px 0;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ccc;
}

form {
  position: relative;
}
.btn-reset {
  padding: 2px 5px;
  border: none;
  border-radius: 50%;
  background-color: #eee;
  color: #ccc;
}
.btn-reset {
  position: absolute;
  top: 12px;
  right: 10px;
}
.btn-reset::before {
  content: 'X';
}
